Django==2.0.8
gunicorn
psycopg2
djangorestframework
djangorestframework-gis
coreapi
django-redis
django-allauth
django-taggit
django-taggit-serializer
django-dotenv
django-simplefeedback==0.8
django-prettyjson==0.3.0
daphne==2.1.1
celery
channels==2.1.1
channels-redis==2.1.1
redis
raven

pytest
pytest-django
pytest-cov
pytest-testmon
pytest-watch
ipdb