Django
gunicorn
psycopg2
djangorestframework
djangorestframework-gis
coreapi
django-redis-cache
django-allauth
django-taggit
django-taggit-serializer
redis
django-simplefeedback

pytest
pytest-django
pytest-cov
pytest-testmon
pytest-watch
ipdb