Django
gunicorn
psycopg2
djangorestframework
djangorestframework-gis
coreapi
django-redis-cache
django-allauth
django-taggit
django-taggit-serializer
django-dotenv
django-simplefeedback==0.8
celery
redis
raven

pytest
pytest-django
pytest-cov
pytest-testmon
pytest-watch
ipdb